trigger:
  branches:
    include:
      - test  # You can change this to your desired branch

pool:
  vmImage: ubuntu-latest

jobs:
  - job: InstallAndTest
    steps:
      - task: UseNode@1
        inputs:
          versionSpec: '16.x'

      - script: |
          cd Azure
          npm install
        displayName: 'Install dependencies'

      - script: |
          cd Azure
          npx playwright install
        displayName: 'Install Playwright Browsers'

      - script: |
          cd Azure
          npm test
        displayName: 'Run Playwright Tests'
