trigger:
  branches:
    include:
    - test

pool:
  name: jenkins  # Ensure this is your self-hosted agent pool name

steps:
  - checkout: self  # Default checkout of the repo into $(Build.SourcesDirectory)


  - script: |
      # Give permissions and run Playwright Python tests in /AzureRepo
      sudo chown -R $(whoami):$(whoami) /var/lib/jenkins/myagent/_work/2/s/Tests/Playwright_PY_TestSuite01/Test/Playwright
      pytest /var/lib/jenkins/myagent/_work/2/s/Tests/Playwright_PY_TestSuite01/Test/Playwright/tests.py --junitxml=/AzureRepo/Tests/Playwright_PY_TestSuite01/reportPY.xml
    displayName: 'Run Playwright Python tests'

  - script: |
      # Give permissions and run Playwright JS tests in /AzureRepo
      source ~/.bashrc
      cd /var/lib/jenkins/myagent/_work/2/s/Tests/Playwright_PY_TestSuite01/Test/Playwright
      PLAYWRIGHT_JUNIT_OUTPUT_NAME=reportJS.xml npx playwright test --reporter=junit
    displayName: 'Run Playwright .JS tests'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '/var/lib/jenkins/myagent/_work/2/s/Tests/Playwright_PY_TestSuite01/reportPY.xml'
      ArtifactName: 'PythonTestReports'
      publishLocation: 'Container'
    displayName: 'Publish Python Test Report'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '/var/lib/jenkins/myagent/_work/2/s/Tests/Playwright_PY_TestSuite01/reportJS.xml'
      ArtifactName: 'JavaScriptTestReports'
      publishLocation: 'Container'
    displayName: 'Publish JavaScript Test Report'
