trigger:
  branches:
    include:
    - test

pool:
  name: jenkins  # Ensure this is your self-hosted agent pool name

steps:
  - checkout: self  # Default checkout of the repo into $(Build.SourcesDirectory)

  - script: |
      # Create the /AzureRepo directory if it doesn't exist
      sudo mkdir -p /AzureRepo

      # Move the repository from the default checkout directory to /AzureRepo
      sudo mv $(Build.SourcesDirectory)/* /AzureRepo/

      # Verify the move and list the files in the new directory
      echo "Repository moved to /AzureRepo"
      ls /AzureRepo
      pwd
    displayName: 'Move Repository to /AzureRepo'

  - script: |
      # Give permissions and run Playwright Python tests in /AzureRepo
      sudo chown -R $(whoami):$(whoami) /AzureRepo/Tests/Playwright_PY_TestSuite01/Test/Playwright
      pytest /AzureRepo/Tests/Playwright_PY_TestSuite01/Test/Playwright/tests.py --junitxml=/AzureRepo/Tests/Playwright_PY_TestSuite01/reportPY.xml
    displayName: 'Run Playwright Python tests'

  - script: |
      # Give permissions and run Playwright JS tests in /AzureRepo
      source ~/.bashrc
      cd /AzureRepo/Tests/Playwright_PY_TestSuite01/Test/Playwright
      PLAYWRIGHT_JUNIT_OUTPUT_NAME=reportJS.xml npx playwright test --reporter=junit
    displayName: 'Run Playwright .JS tests'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '/AzureRepo/Tests/Playwright_PY_TestSuite01/reportPY.xml'
      ArtifactName: 'PythonTestReports'
      publishLocation: 'Container'
    displayName: 'Publish Python Test Report'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '/AzureRepo/Tests/Playwright_PY_TestSuite01/reportJS.xml'
      ArtifactName: 'JavaScriptTestReports'
      publishLocation: 'Container'
    displayName: 'Publish JavaScript Test Report'
