trigger:
  branches:
    include:
    - test

pool:
  name: jenkins

steps:
  - checkout: self  # Default checkout of the repo into $(Build.SourcesDirectory)

  - script: |
      # Create the /Azure directory if it doesn't exist
      sudo mkdir -p /Azure

      # Move the repository from the default checkout directory to /Azure
      sudo mv $(Build.SourcesDirectory)/* /Azure/

      # Verify the move and list the files in the new directory
      echo "Repository moved to /Azure"
      ls /Azure
      pwd
    displayName: 'Move Repository to /Azure'

  - script: |
      # Give permissions and Run playwright Python tests
      sudo chown -R $(whoami):$(whoami) /Azure/Tests/Playwright_PY_TestSuite01/Test/Playwright
      pytest /Azure/Tests/Playwright_PY_TestSuite01/Test/Playwright/tests.py --junitxml=/var/lib/jenkins/workspace/Tests/Playwright_PY_TestSuite01/reportPY.xml
    displayName: 'Run Playwright Python tests'


  - script: |
      # Give permissions and Run playwright .JS tests
      source ~/.bashrc
      cd /Azure/Tests/Playwright_PY_TestSuite01/Test/Playwright
      PLAYWRIGHT_JUNIT_OUTPUT_NAME=reportJS.xml npx playwright test --reporter=junit
    displayName: 'Run Playwright .JS tests'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '/Azure/Tests/Playwright_PY_TestSuite01/reportPY.xml'
      ArtifactName: 'PythonTestReports'
      publishLocation: 'Container'
    displayName: 'Publish Python Test Report'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '/Azure/Tests/Playwright_PY_TestSuite01/reportJS.xml'
      ArtifactName: 'JavaScriptTestReports'
      publishLocation: 'Container'
    displayName: 'Publish JavaScript Test Report'
