trigger:
  branches:
    include:
    - test

pool:
  name: jenkins

steps:
  - checkout: self  # This step will checkout the repo by default

  - script: |

      # Change to the custom directory
      cd /Azure

      # Perform any operations, e.g., list files in the custom directory
      echo "Checked out repository to: $(Build.SourcesDirectory)"
      ls $(Build.SourcesDirectory)

    displayName: 'Checkout to Specific Directory and List Files'

  - script: |
      # Give permissions and Run playwright Python tests
      sudo chown -R $(whoami):$(whoami) /Azure/Tests/Playwright_PY_TestSuite01/Test/Playwright
      pytest /Azure/Tests/Playwright_PY_TestSuite01/Test/Playwright/tests.py --junitxml=/var/lib/jenkins/workspace/Tests/Playwright_PY_TestSuite01/reportPY.xml
    displayName: 'Run Playwright Python tests'


  - script: |
      # Give permissions and Run playwright .JS tests
      source ~/.bashrc
      cd /Azure/Tests/Playwright_PY_TestSuite01/Test/Playwright
      PLAYWRIGHT_JUNIT_OUTPUT_NAME=reportJS.xml npx playwright test --reporter=junit
    displayName: 'Run Playwright .JS tests'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '/Azure/Tests/Playwright_PY_TestSuite01/reportPY.xml'
      ArtifactName: 'PythonTestReports'
      publishLocation: 'Container'
    displayName: 'Publish Python Test Report'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '/Azure/Tests/Playwright_PY_TestSuite01/reportJS.xml'
      ArtifactName: 'JavaScriptTestReports'
      publishLocation: 'Container'
    displayName: 'Publish JavaScript Test Report'
