trigger:
  branches:
    include:
      - test  # You can change this to your desired branch

pool:
  vmImage: ubuntu-latest

    steps:
      - task: UseNode@1
        inputs:
          versionSpec: '16.x'

      - script: |
          cd Azure
          npm install
          npx playwright install
          npm test
        displayName: 'Install dependencies'


